main {
  place-items: center;
  background-color: rgba(85, 107, 47, 0.8);
  margin: 2% 30%;
  padding: 30px 8px;
  box-shadow: 10px 10px 10px gray;
}
.header img {
  width: 70px;
  border-radius: 40px;
}
.header {
  text-align: center;
  color: yellow;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

article {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
  background-color: rgb(229, 238, 249);
  padding: 8px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 1 1 calc(33.33% - 16px);
  margin: 8px;
}

.formalign label {
  color: rgba(255, 255, 0, 0.521);
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.formalign input {
  width: 250%;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.formalign button {
  width: 264%;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.infobox {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1px 35px;
  background-color: rgba(85, 107, 47, 0.8);
  color: rgba(255, 255, 0, 0.716);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2% 0;
}
